body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
}

.left {
    background-image: url("../imgs/background.png");
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    min-width: 360px;
    position: static;
}

.right {
    display: flex;
    width: 75%;
}

.logo {
    display: flex;
    position: relative;
    color: white;
    font-family: "Protest Revolution", "Roboto", Arial, Helvetica, sans-serif;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    height: max-content;
    top: 150px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.253);
    gap: 10px;
}

.logo>img {
    height: 120px;
}

.resource {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
    height: 100%;
}

.resource, .resource>p>a {
    color: white;
}

.resource>p>a:visited {
    color: rgb(190, 190, 190);
}


.text {
    font-size: 30px;
    padding: 1rem;
}